---
import '../styles.css';
---

<html>
<head>
    <title>Projeto Astro com Background Animado</title>
    <link rel="stylesheet" href="/Users/guilhermemalatesta/Projetos/teste front/gullible-gravity/src/styles.css">
    <script type="module" src="/Users/guilhermemalatesta/Projetos/teste front/gullible-gravity/src/circles.ts" defer></script>
</head>
<body>
    <h1>Bem-vindo ao Astro com Background Animado!</h1>
</body>
</html>
