---
import "../styles.css";
---

<html>
  <head>
    <link
      rel="stylesheet"
      href="/Users/guilhermemalatesta/Projetos/teste front/gullible-gravity/src/styles.css"
    />
    <script
      type="module"
      src="/Users/guilhermemalatesta/Projetos/teste front/gullible-gravity/src/circles.ts"
      defer></script>
  </head>
  <body>
  </body>
</html>
